body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
.w3-quarter img{margin-bottom: -6px; cursor: pointer}
.w3-quarter img:hover{opacity: 0.6; transition: 0.3s}

p.about1 {
	padding-left: 70px;
	padding-right: 50px;
	font-size: 20px;
}

h4.about-heading {
	font-size: 56px;
	font-style: italic;
}

h1.project-page-heading {
	font-size: 60px;
	font-style: italic;
}

h1.project-page-about {
	text-decoration: underline;
}

h2.project-page-heading {
	text-decoration: underline;

}

p.project-page-about {
	font-size: 20px;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}